*{
    margin: 0;
    padding: 0;
}

html,
body{
    font-size: 18px;
    background-color: #f5f6f7;
}
h1{
    max-width: 940px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0 40px 130px;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-apepe{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titulo-texto{
    font-size: 1.3rem;
}

.informacion-texto{
    font-size: 1.3rem;
    margin: 15px;
    padding-bottom: 30px;
}

.texto-texto{
    font-size: 1.1rem;
    text-align: justify;
}

.contenedor-logo{
    width: 50px;
    height: 50px;
}

.contenedor-clicks{
    height: 30px;
    min-width: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
