button {
    width: 80px;
    height: 50px;
    font-family: Roboro, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: #00471b;
}

.boton-sumar{
    background-color: #002ead;
}
.boton-restar{
    background-color: #0c2464;
}